.representative__filterContainer {
  width: 100%;
  height: 7vh;
  box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
  padding-top: 1rem;
}

.representative__filterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.representative__filterWrapper h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: #00973f;
  font-weight: 700;
}

.filter_text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #293340;
  padding-left: 0.5rem;
}

.representative_details {
  margin-top: 0.5rem;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.representative_inner_details {
  height: 20vh;
  width: 100%;
  box-shadow: 0px 3px 6px rgb(71 77 96 / 10%);
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}
.representative_position {
  color: #d9a01b;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.representative_image {
  width: 26%;
}

.representative_image img {
  width: 100%;
}

.colored_rating_review {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #474d60;
  font-size: 0.9rem;
  padding-left: 0.1rem;
}
