.representative_details{
    padding-bottom:40px;
}
.representative_details_header{
    width:375px;
    background: linear-gradient(317.15deg, #90DF6F 13.65%, #00973F 88.4%);
    position:relative;
    padding:15px 0px 5px 0px;
}
.arrow_icon{
    margin-left: 324px;
}
.reps_inner_arrow_icon{
    position:absolute;
    top:9%;
    right:7%;
}
.reps_inner_rep_personal_page{
    width:327px;
    height:355px;
    background:white;
    box-shadow: 0px 6px 10px rgba(66, 110, 217, 0.1);
    border-radius: 12px;
    margin: 51px auto 25px auto;
}
.reps_inner_image_circle{
    width:96px;
    width: 96px;
    position: relative;
    top: -33px;
    left: 17px;
}
.reps_inner_representative_group{
    margin-left: 23px;
    margin-bottom: 11px;
}
.reps_inner_rep_circle_header{
    margin-top: -23px;
    font-family: 'Fira Sans', sans-serif;
    font-size:17px;
    line-height:22px;
    color:#24272C;
    font-weight:500;
    width: 183px;
}
.reps_inner_rep_circle_last_header{
    font-family: 'Fira Sans', sans-serif;
    font-size:12px;
    color:#D9A01B;
    width:180px;
    font-weight:500;
    margin-top:8px;
}
.reps_inner_representative_cards{
    display: flex;
    justify-content: center;
    margin-right: 8px;
}
.reps_inner_petitions_rating{
    background: #F0F1F2;
    width:90px;
    height:60px;
    border-radius: 6px;
    margin-left: 6px;
}
.reps_inner_representative_petition{
    font-family: 'Fira Sans', sans-serif;
    font-weight:300;
    font-size:11px;
}
.reps_inner_text{
    padding-top: 15px;
    padding-left: 15px;
}
.reps_inner_petition_number{
    font-size: 14px;
    padding-top: 6px;
    color: #24272C;
}
.reps_inner_call{
    margin-left: 23px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.reps_inner_call_rep{
    background: linear-gradient(148.69deg, #90DF6F 0%, #00BBCA 85.18%);
    box-shadow: 0px 16px 20px rgba(66, 200, 141, 0.3);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding:8px 21px 22px 10px;
}
.reps_inner_rep_number{
    width:266px;
    margin-left: 20px;
}
.reps_inner_rep_border_bottom{
    border-bottom: 1px solid rgba(41, 51, 64, 0.15);
    width: 253px;
    margin-top: 11px;
    margin-left: 74px;
    height:1px;
}
.reps_inner_rep_location_section{
    margin-left:30px;
    margin-top: 12px;
}
.reps_inner_location{
    display:flex;
}
.reps_inner_location_icon{
    width:12.67px;
    height:17.17px;
    margin-top: 5px;
}
.reps_inner_real_location{
    font-family: 'Fira Sans', sans-serif;
    font-weight:300;
    font-size:14px;
    width:246px;
    height:44px;
    margin-left: 28px;
    line-height: 22px;
}
.reps_inner_get_directions{
    text-align: center;
    color:#00973F;
    margin-right: 92px;
    margin-top: 5px;
    line-height: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-size:14px;
}
.reps_inner_arrow_white_down{
    margin-top: 21px;
    text-align: center;
}
.reps_inner_petitions_details_section{
    width: 375px;
    height: 602px;
    box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
}
.reps_inner_rep_petition_response{
    font-family: 'Fira Sans', sans-serif;
    color:#293340;
    font-size:13px;
    letter-spacing: 0.7px;
    width: 335px;
    height: 16px;
    font-weight:700;
}
.reps_inner_petition_details_header{
    font-family: 'Fira Sans', sans-serif;
    width:312px;
    font-weight:500;
    color:#00973F;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
}
.reps_inner_petition_details_holder{
    margin-top: 17px;
    margin-left: 28px;
}
.reps_inner_petition_date_details{
    font-family: 'Fira Sans', sans-serif;
    font-size:10px;
    font-weight:300;
    color:#474D60;
    width:312px;
    margin-top: 5px;
}
.reps_inner_petition_full_details{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    width:312px;
    font-weight:300;
    margin-top: 10px;
    line-height: 16px;
}
.reps_inner_petition_full_details_holder{
    display:flex;
    align-items: baseline;
}
.reps_inner_petition_full_dark_arrow{
    width:9.74px;
    margin-left: 8px;
    height:17.67px;
}
.reps_inner_full_response_link{
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight:300;
    margin-top: 20px;
    color: #426ED9;
}
.reps_inner_response_border_bottom{
    margin-top: 13px;
    border-bottom: 1px solid #29334040;
}
.reps_inner_view_all_responses_holder{
    display:flex;
    margin-top: 20px;
}
.reps_inner_view_all_responses{
    color:#00973F;
    font-family: 'Fira Sans', sans-serif;
    font-size:14px;
    font-weight:500;
    width: 283px;
    margin-left: 11px;
}
.reps_inner_peoples_review_holder{
    margin-top: 34px;
    padding-left: 29px;
    width:375px;
    height:592px;
}
.reps_inner_peoples_review_header{
    font-family: 'Fira Sans', sans-serif;
    font-size:13px;
    letter-spacing: 0.7px;
    color:#293340;
    line-height:15.6px;
    padding-bottom:11px;
}
.representative_real_rating{
    display:flex;
}
.representative_group{
    display: flex;
    align-items: center;
}
.representative_rating{
    font-family: 'Fira Sans', sans-serif;
    font-size:39px;
    color:#293340;
    font-weight: 500;
}
.representative_icon{
    padding-left:10px;
    width: 105px;
    height: 19px;
}
.representative_nav{
    padding-left: 8px;
}
.representative_response{
    padding-left: 17px;
    font-size: 14px;
    color:#293340;
    font-weight:300;
}
.reps_details_button{
    padding: 14px 10px 10px 10px;
    text-align: center;
    background: white;
    border: 1px solid green;
    width: 321px;
    margin-top: 22px;
    box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
    color:#293340;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 24px;
}
.rep_details_reviews{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    padding-left: 66px;
    font-style: italic;
}
.reps_details_bottom_header{
    font-size:13px;
    font-family: 'Fira Sans', sans-serif;
    color: #293340;
    letter-spacing: 1px;
    font-weight: 700;
}
.rep_details_people_image{
    margin-top: 28px;
    display: flex;
    justify-content: space-around;
    margin-right: 26px;
}
.people_image{
    width:40px;
}
.test{
    display:flex;
    flex-direction: column;
    padding-left: 26px;
}
 .people_petitions{
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
    width: 266px;
    font-family: 'Fira Sans', sans-serif;
    color:#293340;
} 
.people_petition_rating{
    display: flex;
    margin-top: 5px;
}
.people_rating_button{
    width:14px;
    height:14px;
    border: 0.8px solid #00973F;
    border-radius: 50%;
    padding:2px;
}
.people_rating_section{
    padding:0px 8px 0px 8px;
}
.rating_date{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
.view_review_link{
    display: flex;
    align-items: center;
    margin-top: 29px;
}
.rep_header_reviews{
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Fira Sans', sans-serif;
    color:#00973F;
}