*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.clipPath{
    position:absolute;
    top:0;
    left:15rem;
}
.logo{
    width:204px;
    height:40px;
}
.header{
   margin-top:73px;
   display:flex;
   justify-content: space-between;
   padding: 0 12px;
}
.hamburger{
    color:#474D60;
}
.main_page{
    margin-top:48px;
    margin-left:13px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.search_section{
    margin-top:38px;
}
.main_header{
    color:#293340;
    font-size:27px;
    width:292px;
    font-weight:bold;
    font-family:"fira-sans",sans-serif;
    line-height: 32px;
}
.input_address{
    width:349px;
    padding: 12px;
    background:white;
    border: 2px solid #00973F;
    border-radius: 24px;
    padding-left: 39px;
    box-shadow: 0px 8px 16px rgba(66, 110, 217, 0.2);
}
.search_input form{
    display:flex;
    flex-direction:row;
}
.search_icon{
    margin-left: -21rem;
    margin-top: 12px;
    width: 25px;
    height: 27px;   
}
.features_section{
    display:flex;
    justify-content:space-around;
    flex-flow:nowrap;
    margin-top:38px;
}
.icon{
    width:20px;
}
.icon_style{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.icon_background{
    width:63px;
    height:63px;
    border-radius:18px;
    background:linear-gradient(142.37deg, #26C8A8 4.58%, #62C76D 94.61%);
    box-shadow: 0px 16px 20px rgba(66, 200, 141, 0.3);
}
.petition{
    background: linear-gradient(318.38deg, #FF895F 9.38%, #FFD438 96%);
    box-shadow: 0px 16px 20px rgba(255, 165, 80, 0.3);
}
.icons{
    width:34.42px;
    margin-top: 9px;
    margin-left: 12px;
}
.petitions{
    width: 38.42px;
    margin-top: 11px;
    margin-left: 14px;
}
.feedback{
    background: linear-gradient(313.84deg, #249CD5 13.33%, #24D5C3 85.15%);
    box-shadow: 0px 16px 20px rgba(36, 166, 210, 0.3);
}
.feedbacks{
    width: 35px;
    margin-top: 13px;
    margin-left: 13.2px;
}
.report{
    background: linear-gradient(137.15deg, #FF825F 11.6%, #FF4C51 86.35%);
    box-shadow: 0px 16px 20px rgba(255, 103, 88, 0.3);
}
.reports{
    margin-top:11px;
    margin-left: 14px;
}
.text{
    margin-top:9px;
    color:#293340;
    font-size: 14px;
    font-weight:500;
}
.question_section{
    display:flex;
    background: #FFE6D1;
    width:323px;
    border-radius: 6px;
    margin-top: 38px;
    margin-left: 31px;
    height: 33px;
}
.question_background{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:29px;
}
.para_question{
    color: #F75D34;
    font-size: 12px; 
    padding-left: 0px;
    font-family:"Roboto", sans-serif;
    font-weight:200;
}
.lock{
    margin-right: 5px;
    width:12.48px;
}
span{
    font-weight:700;
}
.senator_images{
    width:150px;
    
}
.card{
    height: 186px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgb(71 77 96 / 10%);
    width: 150px;
    border-radius: 6px;
    margin-right:4px;
}
.container{
    text-align: left;
    padding-left:13px;
}
.reps_position{
    font-size: 8px;
    color: #D9A01B;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 5px;
    font-weight:500;
}
.reps_name{
    font-family:'Fira Sans', sans-serif;
    font-size:14px;
    font-weight:500;
    color:#000000;
    margin-top:6px;
    margin-bottom:7px;
}
.reps_constituency{
    font-family:'Fira Sans', sans-serif;
    font-weight:200;
    font-size:12px;
    line-height:14px;
    color: #474D60;
    margin-bottom:6px;
}
.rating_number{
    font-family:'Fira Sans', sans-serif;
    color:#1EA896;
    font-size:14px;
    font-weight:500;
    margin-right:auto;
}
.reviews{
    font-family: 'Fira Sans', sans-serif;
    font-size:12px;
    line-height:14px;
    color: #474D60;
    font-weight:400;
    font-style: italic;
}
.rating{
    display:flex;
    width:104px;
}
.rating_button{
    width:14px;
    height:14px;
    border:1px solid #1EA896;
    border-radius:50%;
    margin-right:auto;
}
.filled_background{
    margin:0 auto;
    margin-bottom: 3px;
    margin-left: 2px;
}
.main_slider{
     margin-top:40px;
}

.content_style{
    height: '160px';
    color: '#fff';
    line-height: '160px';
    text-align: 'center';
    background: '#364d79';
}
.reps_header{
    margin-top: 24px;
    margin-bottom: 24px;
    font-family:'Fira Sans', sans-serif;
    font-size:13px;
    color:#293340;
    letter-spacing: 0.7px;
    line-height: 16px;
    font-weight: bold;
}
.reps{
    margin-left: 13px;
    margin-top: 24px;
}

.reps_section{
    display:flex;
    overflow-y:scroll;  
}
.icon_section{
    width:375px;
    background:white;
    box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
}
.icons_link{
    display:flex;
    margin-top:24px;
    justify-content: space-around;
}
.icon_text{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.view_all{
    display:flex;
    align-items: center;
}
.colored_arrow{
    width:18.56px;
}
.colored_header{
    color:#00973F;
    font-family:'Fira Sans', sans-serif;
    font-weight:500;
    font-size:14px;
    line-height:25px;
    width:283px;
    margin-left:10px;
}