.switch {
  background-color: greenyellow;
}

.mainContainer {
  padding: 0 1rem;
}

.Nav--items {
  position: absolute;
  visibility: hidden;
  background: green;
  z-index: 0;
}

.Nav--items.show {
  visibility: visible;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-listItems {
  margin-bottom: 1rem;
}

.heroSection {
  height: 54vh;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
}

.hero__header {
  max-width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #293340;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 600;
}

.hero__search {
  position: relative;
}

.hero__search input {
  width: 100%;
  height: 7vh;
  border-radius: 2rem;
  border: 2px solid #00973f;
  box-shadow: 0px 8px 16px rgb(66 110 217 / 20%);
  font-size: 1rem;
  padding-left: 2rem;
  font-family: 'fira-sans', sans-serif;
  font-weight: 600;
  outline: none;
  color: #293340;
}

.hero__search img {
  position: absolute;
  top: 30%;
  left: 7px;
}

.hero__features {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
}

.hero__feature--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 18px;
}

.hero_quiz {
  background: #ffe6d175;
  margin: 0 auto;
  width: 93%;
  border-radius: 6px;
  height: 5vh;
}

.hero_quiz div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #f75d34;
  padding-top: 0.7rem;
  font-family: sans-serif;
}

.popular__repSection {
  height: 43vh;
  background: #fff;
  margin-top: 0.8rem;
  box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
}

.olamide {
  height: 36.2vh;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgb(71 77 96 / 10%);
  min-width: 55%;
  border-radius: 6px;
  margin-right: 0.6rem;
}

.senator_images {
  width: 100%;
}

.container {
  padding-left: 0.6rem;
}

.reps_position {
  font-size: 0.6rem;
  color: #d9a01b;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 0.6rem;
  font-weight: 500;
}

.reps_name {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #000000;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
}

.petition__background {
  background: linear-gradient(318.38deg, #ff895f 9.38%, #ffd438 96%);
  box-shadow: 0px 16px 20px rgba(255, 165, 80, 0.3);
}

.home_span {
  font-weight: 400;
}
.icon {
  width: 20px;
}

.reps__background {
  background: linear-gradient(142.37deg, #26c8a8 4.58%, #62c76d 94.61%);
  box-shadow: 0px 16px 20px rgba(66, 200, 141, 0.3);
}

.hero__feature__background img {
  width: 2.4rem;
  height: 2.7rem;
}
.feature__petition__icon {
  margin-left: 5px;
}

.feedback__background {
  background: linear-gradient(313.84deg, #249cd5 13.33%, #24d5c3 85.15%);
  box-shadow: 0px 16px 20px rgba(36, 166, 210, 0.3);
}

.reps_constituency {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  color: #474d60;
  padding-bottom: 0.7rem;
}

.rating {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  color: #1ea896;
  align-items: center;
}

.report__background {
  background: linear-gradient(137.15deg, #ff825f 11.6%, #ff4c51 86.35%);
  box-shadow: 0px 16px 20px rgba(255, 103, 88, 0.3);
}

.rating_button {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #1ea896;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  justify-content: center;
}

.top__ratedRepresentative {
  height: 47vh;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(71, 77, 96, 0.1);
}

.reps_section {
  display: flex;
  overflow-y: scroll;
}

.view_all {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
}

.text {
  text-align: center;
  margin-top: 9px;
  color: #293340;
  font-size: 14px;
  font-weight: 500;
}

.hero_quiz img {
  padding-right: 0.4rem;
}

.hero_quiz span {
  font-weight: 600;
}

.popular__repSection h3 {
  padding: 0.5rem 0;
  color: #293340;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.view_all .colored_header {
  color: #00973f;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.reviews {
  font-style: italic;
  font-weight: 100;
  color: #474d60;
}

.main_slider {
  margin-top: 40px;
}

.content_style {
  height: '160px';
  color: '#fff';
  line-height: '160px';
  text-align: 'center';
  background: '#364d79';
}

.home_footer_rating {
  display: flex;
}

.footer_footer {
  display: flex;
  flex-direction: column;
}

.footer_header {
  color: white;
  padding-left: 0.5rem;
}

.home_footer_section {
  width: 100%;
  height: 80vh;
  background: linear-gradient(270deg, #90df6f 0%, #00bbca 100%);
}

.reps_header {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}
